@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.container{
    padding-top: 25px;
    padding-bottom: 80px;
    width: 900px;
}



/*------------ Right box ------------*/

.right-box{
    flex-basis: 50% !important;
    padding: 40px 30px 40px 40px;
    background-image: linear-gradient(to bottom right, white, lightgrey, grey);
    border-radius: 10px;
    text-align: center;
    height: 90vh;
    width: 400px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

.rounded-4 .img{
    width: fit-content;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}